

.btn
  color: #FFFFFF
  background: none
  font-size: 16px
  cursor: pointer
  margin: 10px
  border: 0

.profile-login
  padding: 10px 20px
  border: 1px solid #151618
  border-radius: 14px

  &:hover
    margin: 9px
    border: 2px solid #24272C


.profile-register
  padding: 10px 20px
  border: 1px solid #00FFB2
  border-radius: 14px

  &:hover
    margin: 9px
    border: 2px solid #24272C



.section-profile
  display: flex
  justify-content: space-between
  align-items: center

  .profile_img
    margin-right: 20px


  .profile_name
    color: #EEEEEE
    margin-right: 20px

  .profile_icon