

.btn
  color: #FFFFFF
  background: #437ED8
  font-size: 16px
  cursor: pointer
  margin: 10px
  border: 0
  transition: all 0.1s ease

  &:hover
    background: #3264AE

  &:active
    background: #3d71bf

.profile-login
  display: flex
  justify-content: center
  align-items: center
  padding: 8px 14px
  border: 2px solid #437ED8
  border-radius: 14px
  transition: all 0.1s ease-in-out

  img
    margin-right: 10px

  span
    width: 70px

.profile-register
  padding: 11px 14px
  border-radius: 14px
  background-color: rgba(0, 0, 0, 0)
  border: 2px solid #437ED8
  transition: all 0.1s ease-in-out

.down-trip
  position: absolute
  width: 40px
  height: 40px
  left: 10px
  top: 10px
  border-radius: 14px
  background-color: #437ED8
  z-index: 0
  transition: all 0.2s ease-in-out

.active
  z-index: 222
  opacity: 1

  .profile-item
    width: 40px
    height: 40px
    display: flex
    border-radius: 14px
    justify-content: center
    align-items: center
    cursor: pointer
    z-index: 2

    .profile-item_img
      width: 24px
      height: 24px

  .settings-y.active


  .exit-y.active

  .settings-y:hover ~ .down-trip
    left: 10px !important

  .settings-y.active ~ .down-trip
    left: 10px

  .exit-y:hover ~ .down-trip
    top: 60px !important
    left: 10px !important
    background-color: #437ED8 !important

  .exit-y.active ~ .down-trip
    top: 60px
    left: 10px
    background-color: #437ED8



.section-auth
  position: absolute
  right: 0
  display: flex
  justify-content: flex-end
  align-items: center

.section-block
  position: absolute
  right: 0
  display: flex
  justify-content: flex-end
  align-items: center

  .section-profile-container
    position: relative

    .section-profile
      display: flex
      align-items: center
      padding: 5px 8px
      border-radius: 8px
      cursor: pointer
      transition: all 0.1s ease
      margin-right: 20px

      &:hover
        background-color: #24272C

      &:hover
        background-color: #1d1f23

      .profile_img
        position: relative
        width: 30px
        height: 30px
        object-fit: cover
        border-radius: 500%
        margin-right: 10px

        &:hover
          background-image: linear-gradient(45deg, darken(#13abdb,5%), #B10DC9)

      .profile-name
        color: #FFFFFF
        font-family: Inter, sans-serif
        font-size: 13px
        font-weight: 500
        margin-right: 10px

      .profile-downArrow

    .profile-dropMenu
      position: absolute
      display: flex
      width: 250px
      opacity: 0
      flex-direction: column
      top: 45px
      padding: 14px 12px
      right: 20px
      background-color: #1C1E21
      z-index: 999999999999
      border-radius: 8px
      animation: anim 0.1s ease forwards

      .profile-dropMenu-item
        display: flex
        padding: 8px
        align-items: center
        border-radius: 8px
        cursor: pointer
        transition: all 0.1s ease

        &:hover
          background-color: #18191C

        .profile-dropMenu-item_img
          padding: 8px
          width: 16px
          height: 16px
          border-radius: 8px
          margin-right: 10px
          background-color: #151618

        .profile-dropMenu-item_title
          font-family: Inter, sans-serif
          font-size: 14px
          color: #FFFFFF

      .profile-dropMenu-out
        background-color: #151618
        outline: 0
        margin: 14px 8px 0 8px
        border: none
        border-radius: 8px
        display: flex
        align-items: center
        justify-content: center
        padding: 9px
        transition: all 0.1s ease
        cursor: pointer

        &:hover
          background-color: #18191C

        .profile-dropMenu-out_img
          margin-right: 6px

        .profile-dropMenu-out_title
          color: #FFFFFF
          font-size: 14px
          font-family: Inter, sans-serif


  .profile-menu-container
    display: flex
    align-items: center
    justify-content: center
    position: relative
    padding: 10px
    width: 20px
    height: 20px
    border-radius: 14px
    cursor: pointer
    transition: all 0.1s ease-in-out

    &:hover
      background-color: #24272C

    .profile-menu
      width: 20px
      height: 20px

    .profile-menu-list
      position: absolute
      display: flex
      width: 240px
      opacity: 0
      top: 45px
      padding: 24px 20px
      box-sizing: border-box
      right: 0
      background-color: #1C1E21
      z-index: 999999999999
      justify-content: space-between
      border-radius: 8px
      animation: anim 0.1s ease forwards

      .profile-menu-list-item
        width: 40px
        height: 40px
        display: flex
        align-items: center
        justify-content: center
        background-color: #151618
        border-radius: 8px
        transition: all 0.1s ease

        &:hover
          background-color: #18191C



  .profile-bell-container
    position: relative
    padding: 8px
    width: 24px
    height: 24px
    margin-right: 20px
    border-radius: 14px
    cursor: pointer
    transition: all 0.1s ease-in-out

    &:hover
      background-color: #24272C

    .profile-bell
      margin-right: 30px

    .profile-bell-span
      position: absolute
      top: 10px
      left: 20px
      display: flex
      align-items: center
      justify-content: center
      color: #FFFFFF
      width: 13px
      height: 13px
      font-size: 10px
      border-radius: 99px
      background-color: #E00086
      user-select: none

  .empty
    width: 360px
    top: 70px
    height: 50px
    display: flex
    align-items: center
    border-radius: 14px
    border: 1px solid #333333
    background-color: #202326
    position: absolute

    .profile-bell-empty
      padding: 0 20px
      color: #FFFFFF

  .profile-bell-list
    position: absolute
    display: flex
    width: 250px
    opacity: 0
    flex-direction: column
    top: 45px
    padding: 24px 20px
    right: 0
    background-color: #1C1E21
    z-index: 999999999999
    border-radius: 8px
    animation: anim 0.1s ease forwards

    .bell-item
      width: 100%
      display: flex
      flex-direction: column
      z-index: 99999999

      .bell-item-container
        display: flex
        margin-bottom: 12px


        .bell-item-avatar
          object-fit: cover
          border-radius: 99px
          width: 30px
          height: 30px

        .bell-info
          display: flex
          flex-direction: column
          justify-content: space-between
          margin-left: 10px


          .bell-item-name
            color: #FFFFFF
            font-size: 16px


          .bell-item-subtitle
            color: #FFFFFF
            font-size: 12px

      .bell-btn-list
        display: flex

        .bell-item-btn
          padding: 7px 12px
          width: 100%
          border-radius: 99px
          color: #FFFFFF
          border: 1px solid rgba(0, 0, 0, 0)
          background-color: rgba(0, 0, 0, 0)
          cursor: pointer
          z-index: 10000
          transition: all 0.1s ease

        .accept
          background-color: #437ED8
          margin-right: 6px

          &:hover
            background-color: #3a70bf

        .reject
          border-color: #437ED8

          &:hover
            border-color: #3a70bf

@keyframes anim
  0%
    opacity: 0
  100%
    opacity: 1

@media screen and (max-width: 935px)

  .profile-menu-container
    display: none !important

  .profile-bell-container
    display: none !important

  .section-profile
    display: none !important

  .section-profile-log
    display: none !important

    .logotype_title
      display: none
