

.main
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 1160px
  height: 85vh

  .main_img
    margin-right: 85px
    margin-bottom: 100px

  .section-content
    margin-bottom: 100px

    .content-title
      color: #EEEEEE
      font-size: 72px
      margin-bottom: 15px

    .content-description
      font-size: 24px
      color: #EEEEEE
      margin-bottom: 56px

      .telegram
        text-decoration: none
        color: #00FFB2

    .content-button
      color: #00FFB2
      background-color: #24272C
      font-size: 18px
      padding: 20px 60px
      border: 0
      text-decoration: none
      border-radius: 14px
      cursor: pointer


.github-info
  position: absolute
  bottom: 40px
  display: flex
  align-items: center
  right: 110px

  .github-icon
    width: 28px
    height: 28px
    margin-right: 10px

  .github-title
    margin-top: 1px
    color: #FFFFFF
    text-decoration: none


@media (max-width: 1268px)
  .main
    max-width: 1160px
    height: 70vh

    .main_img
      margin-right: 45px

@media (max-width: 1200px)
  .main
    max-width: 1160px
    height: 70vh

    .main_img
      width: 300px
      margin-right: 45px

    .section-content

      .content-title
        font-size: 48px
        margin-bottom: 15px

      .content-description
        max-width: 500px
        font-size: 18px
        color: #EEEEEE
        margin-bottom: 36px

        .telegram
          text-decoration: none
          color: #00FFB2

      .content-button
        font-size: 18px
        padding: 14px 50px
        border: 0
        text-decoration: none
        border-radius: 14px
        cursor: pointer