

.main
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 1160px
  height: 85vh

  .main_img
    margin-right: 85px
    margin-bottom: 100px

  .section-content
    margin-bottom: 100px

    .content-title
      color: #EEEEEE
      font-size: 72px
      margin-bottom: 15px

    .content-description
      font-size: 24px
      color: #EEEEEE
      margin-bottom: 56px

      .telegram
        position: relative
        text-decoration: none
        color: #00FFB2

        &:after
          content: ""
          position: absolute
          width: 100%
          bottom: 10px
          opacity: 0
          left: 0
          height: 3px
          background-color: #00FFB2
          border-radius: 14px
          transition: all 0.1s ease-in-out

        &:hover:after
          opacity: 1
          bottom: -8px




.github-info
  position: absolute
  bottom: 40px
  display: flex
  justify-content: center
  align-items: center
  right: 110px

  a
    line-height: 0

  .telegram
    margin-right: 24px
    padding: 12px
    border-radius: 14px
    cursor: pointer
    transition: all 0.1s ease-in-out

    &:hover
      background-color: #24272C

  .bug-icon
    padding: 12px
    border-radius: 14px
    margin-right: 20px
    cursor: pointer
    transition: all 0.1s ease-in-out

    &:hover
      background-color: #24272C

  .github-container
    padding: 10px
    border-radius: 14px
    display: flex
    justify-content: center
    align-items: center
    transition: all 0.1s ease-in-out
    cursor: pointer

    &:hover
      background-color: #24272C

    .github-icon
      width: 28px
      height: 28px
      margin-right: 10px

    .github-title
      margin-top: 1px
      color: #FFFFFF
      text-decoration: none


@media screen and (max-width: 1280px)
  .main

    .main_img
      width: 300px
      margin-right: 45px

    .section-content

      .content-title
        font-size: 48px
        margin-bottom: 15px

      .content-description
        max-width: 500px
        font-size: 18px
        color: #EEEEEE
        margin-bottom: 36px

        .telegram
          text-decoration: none
          color: #00FFB2

      .content-button
        font-size: 18px
        padding: 14px 50px
        text-decoration: none
        border-radius: 14px
        cursor: pointer

  .github-info
    bottom: 10px
