.member-item
  width: 90%
  box-sizing: border-box
  height: 90px
  padding: 0 20px
  margin: 5px
  display: flex
  justify-content: space-between
  align-items: center
  cursor: pointer

  &:hover

    border-radius: 14px
    background-color: #202326

  .member-avatar-info
    position: relative
    height: 60px

    a
      font-size: 0

    .member_avatar
      position: relative
      object-fit: cover
      width: 60px
      height: 60px
      border-radius: 1000px

    .member_active
      position: absolute
      color: #FFFFFF
      font-size: 12px
      width: 12px
      height: 12px
      bottom: 0
      right: 0
      border-radius: 50px

    .online
      background-color: #00FFB2

    .offline
      background-color: rgba(0, 0, 0, 0)
      border: none

  .member-content
    width: 200px
    height: 50px
    display: flex
    margin-left: 20px
    flex-grow: 2
    flex-direction: column
    justify-content: space-around

    .member_section
      display: flex
      width: auto
      align-items: center
      justify-content: space-between
      margin-bottom: 6px

      .member_time
        font-size: 12px
        color: #6C6C6C

      .member_name
        font-size: 18px
        color: #FFFFFF
        display: flex
        align-items: center

        .member_admin
          margin-left: 10px
          width: 20px
          height: 20px



    .member-new-info
      display: flex
      align-items: center
      justify-content: space-between

      .member_description
        font-size: 14px
        width: 90%
        height: 18px
        overflow: hidden
        color: #CFCFCF

      .member-new-msg
        display: flex
        align-items: center
        justify-content: center
        width: 20px
        height: 20px
        font-size: 14px
        background-color: #00FFB2
        border-radius: 500%

.navlink
  text-decoration: none
