
.section-chat
  width: 100%
  height: 790px
  display: flex
  justify-content: space-between

  .pin-user
    width: 100%
    height: 700px
    display: flex
    justify-content: center
    align-items: center
    background-color: #151618

    .pin-title
      color: #00FFB2
      padding: 20px 30px
      border-radius: 14px
      background-color: #24272C

  .members
    width: 400px
    height: 770px
    padding-top: 20px
    background-color: #24272C
    border-radius: 14px
    margin-right: 40px

    .active
      width: 330px
      height: 88px
      padding: 0 19px
      border-radius: 14px
      border: 1px solid #00FFB2

  .block
    width: 400px
    height: 790px
    border-radius: 14px