@charset "UTF-8";
.chat {
  width: 75vw;
  height: 94%;
  background-color: #151618;
  border-radius: 14px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat .user-bar {
  height: 70px;
  width: 100%;
  justify-content: space-between;
  padding: 15px 20px;
  display: flex;
  box-sizing: border-box;
  border-radius: 14px;
  box-shadow: 0 0 12px 0 #1C1E21;
  background-color: #1C1E21;
}
.chat .user-bar .user-right {
  z-index: 3;
}
.chat .user-bar .user-right .item-list-p {
  margin-top: 20px;
}
.chat .user-bar .user-right .item-list-p .user-item {
  background-color: #1C1E21;
  width: 24px;
  height: 24px;
  padding: 10px;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.chat .user-bar .user-right .item-list-p .user-item:hover {
  background-color: #24272C;
}
.chat .user-bar .user-right .item-list-p .user-item .user-item_img-pin {
  width: 24px;
  height: 24px;
}
.chat .user-bar .user-right .user-item {
  width: 24px;
  height: 24px;
  padding: 10px;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.chat .user-bar .user-right .user-item:hover {
  background-color: #24272C;
}
.chat .user-bar .user-container {
  display: flex;
}
.chat .user-bar .user-container .user-info {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  justify-content: space-between;
}
.chat .user-bar .user-container .user-info .user-name {
  color: #FFFFFF;
}
.chat .user-bar .user-container .user-info .user-typing {
  color: #BDBDBD;
  display: flex;
  align-items: center;
}
.chat .user-bar .user-container .user-info .user-typing .user-typing-logo {
  color: #BDBDBD;
  width: 12px;
  margin-right: 4px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.chat .user-bar .user-container .user-info .user-typing .user-typing-logo div:nth-child(1) {
  width: 2px;
  height: 2px;
  border-radius: 92px;
  background-color: #D9D9D9;
  animation: sized 0.6s ease-in-out infinite;
}
.chat .user-bar .user-container .user-info .user-typing .user-typing-logo div:nth-child(2) {
  width: 2px;
  height: 2px;
  border-radius: 92px;
  background-color: #D9D9D9;
  animation: sized 0.6s ease-in-out infinite;
  animation-delay: 0.15s;
}
.chat .user-bar .user-container .user-info .user-typing .user-typing-logo div:nth-child(3) {
  width: 2px;
  height: 2px;
  border-radius: 92px;
  background-color: #D9D9D9;
  animation: sized 0.6s ease-in-out infinite;
  animation-delay: 0.2s;
}
@keyframes sized {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.chat .user-bar .user-container .user-avatar .user-avatar-img {
  width: 40px;
  object-fit: cover;
  border-radius: 99px;
  height: 40px;
}
.chat .message-list {
  width: 100%;
  height: 100%;
  bottom: 0;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: flex-start;
  flex-direction: column;
  margin: 10px 0;
  /* полоса прокрутки (скроллбар) */
  /* ползунок скроллбара */
}
.chat .message-list::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}
.chat .message-list::-webkit-scrollbar-thumb {
  background-color: #e00086;
  border-radius: 9em;
  box-shadow: inset 1px 1px 4px #000000;
}
.chat .message-list::-webkit-scrollbar-thumb:hover {
  background-color: #c90077;
}
.chat .message-list .message-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat .message-list .message-container .message-title {
  color: #FFFFFF;
  padding: 20px 30px;
  border-radius: 14px;
  font-size: 16px;
  background-color: #151618;
}
.chat .send-bar {
  height: 70px;
  display: flex;
  border-radius: 14px;
  box-shadow: 0 0 12px 0 #1C1E21;
  align-items: center;
  background-color: #1C1E21;
}
.chat .send-bar .smile-picker {
  position: absolute;
  bottom: 70px;
  right: 0;
}
.chat .send-bar .send-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}
.chat .send-bar .send-avatar img {
  width: 40px;
  border-radius: 99px;
  height: 40px;
  object-fit: cover;
}
.chat .send-bar .btn {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px;
  cursor: pointer;
}
.chat .send-bar .field_img {
  width: 30px;
  margin-right: 13px;
  height: 30px;
  border-radius: 12px;
  object-fit: cover;
  transition: all 0.1s ease-in-out;
}
.chat .send-bar .emoji {
  padding: 0;
}
.chat .send-bar .file-btn {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.chat .send-bar .field__file {
  display: flex;
  align-items: center;
  padding: 8px;
}
.chat .send-bar .field__file .field__file-img {
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
}
.chat .send-bar .text-form {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  color: #FFFFFF;
  font-size: 16px;
  width: 100%;
  outline: none;
}
.chat .send-bar .send-btn {
  height: 20px;
  border-left: 2px solid #6C6C6C;
}

@media screen and (max-width: 1280px) {
  .send-bar {
    height: 60px !important;
  }

  .field__file {
    display: flex;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
