

.block-profile
  width: 520px
  background-color: #24272C
  padding: 40px
  border-radius: 14px
  color: #FFFFFF

  .block-title
    font-size: 32px
    margin-bottom: 40px

  #file
    display: none

  .section-upload_avatar
    position: relative
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    background-color: #151618
    height: 240px
    border-radius: 14px
    cursor: pointer
    margin-bottom: 40px

    .profile-avatar_add
      position: absolute
      top: 36px
      width: 40px
      height: 40px
      opacity: 0
      padding: 45px
      border-radius: 5000%
      transition: all .2s ease-in-out

      &:hover
        opacity: 1
        background-color: rgba(255, 255, 255, 0.7)

    .profile-avatar
      width: 130px
      height: 130px
      object-fit: cover
      margin-bottom: 20px
      border-radius: 5000%
      font-size: 16px

    .profile-upload_text

  .info-block
    position: relative
    display: flex
    margin-bottom: 30px
    align-items: center
    font-size: 24px
    width: 100%

    .info-name-title

    .info-name-description
      margin-left: 20px
      color: #BBBBBB

    .info-name-input
      font-size: 24px
      margin-left: 20px
      color: #BBBBBB
      background-color: rgba(0, 0, 0, 0)
      border: 0
      border-bottom: 1px solid #00FFB2
      margin-bottom: -1px
      outline: none

    .info-edit
      position: absolute
      cursor: pointer
      padding: 10px
      border-radius: 14px
      right: 0
      transition: all 0.1s ease-in-out

      &:hover
        background-color: #151618

    a

      .info-admin
        position: absolute
        cursor: pointer
        padding: 10px
        width: 32px
        height: 32px
        top: -10px
        border-radius: 14px
        right: 0
        transition: all 0.1s ease-in-out

        &:hover
          background-color: #151618



@media screen and (max-width: 1280px)

  .block-profile
    padding: 30px
    width: 460px !important

  .block-title
    margin-bottom: 20px !important

  .info-block
    margin-bottom: 20px !important

    .info-name-title
      font-size: 20px !important

    .info-name-description
      font-size: 20px !important

  .info-admin
    width: 24px !important
    height: 24px !important

  .info-edit
    width: 24px !important
    height: 24px !important

  .section-upload_avatar
    height: 200px !important

  .profile-avatar_add
    top: 16px !important
