.container {
  width: 100%;
  height: 15vh;
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .section-logo {
  position: relative;
  width: 240px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .section-logo:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 28px;
  opacity: 1;
  top: 34px;
  background-color: #151618;
  z-index: 1;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  animation: topDown6 6s ease-in-out infinite;
}
.container .section-logo:hover:after {
  top: 36px;
  transition: all 0.3s ease-in-out;
  animation: none;
}
.container .section-logo .logotype_img {
  width: 100%;
  position: relative;
}
.container .section-logo .logotype_title {
  color: #EEEEEE;
  text-decoration: none;
  font-size: 36px;
}
.container .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 350px;
  height: 60px;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 14px;
  background-color: #1C1E21;
}
.container .navigation .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  color: #EEEEEE;
  width: 40px;
  height: 40px;
  font-weight: 700;
  text-decoration: none;
  z-index: 2;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.container .navigation .nav-item:hover {
  color: #BBBBBB;
}
.container .navigation .nav-item:hover ~ .down-trip {
  left: 50px;
}
.container .navigation .nav-item:hover ~ .down-trip .nav-item_img {
  width: 24px;
  height: 24px;
}
.container .navigation .active {
  position: relative;
  color: #00FFB2;
  transition: all 1s ease-in-out;
}
.container .navigation .active:hover {
  color: #00FFB2;
}
.container .navigation .home-y,
.container .navigation .chat-y,
.container .navigation .profile-y,
.container .navigation .todo-y {
  transition: all 1s ease-in-out;
}
.container .navigation .new {
  position: absolute;
  top: -30px;
  color: #FFFFFF;
  font-size: 12px;
  padding: 4px 8px;
  left: 83px;
  background-color: #FF3D00;
  border-radius: 12px;
}
.container .navigation .new-music {
  position: absolute;
  top: -30px;
  color: #FFFFFF;
  font-size: 12px;
  padding: 4px 8px;
  left: 238px;
  background-color: #00C2FF;
  border-radius: 12px;
}
.container .navigation .home-y.active {
  position: relative;
  color: #00FFB2;
}
.container .navigation .lenta-y.active {
  position: relative;
  color: #FF3D00;
}
.container .navigation .chat-y.active {
  position: relative;
  color: #e00086;
}
.container .navigation .music-y.active {
  position: relative;
  color: #00C2FF;
}
.container .navigation .profile-y.active {
  position: relative;
  color: #95e000;
}
.container .navigation .todo-y.active {
  position: relative;
  color: #E00086;
}
.container .navigation .home-y:hover ~ .down-trip {
  left: 20px !important;
  background-color: #00e09c !important;
}
.container .navigation .home-y.active ~ .down-trip {
  left: 20px;
  background-color: #00e09c;
}
.container .navigation .lenta-y:hover ~ .down-trip {
  left: 74px !important;
  background-color: #FF3D00 !important;
}
.container .navigation .lenta-y.active ~ .down-trip {
  left: 74px;
  background-color: #FF3D00;
}
.container .navigation .chat-y:hover ~ .down-trip {
  left: 128px !important;
  background-color: #e00086 !important;
}
.container .navigation .chat-y.active ~ .down-trip {
  left: 128px;
  background-color: #e00086;
}
.container .navigation .music-y:hover ~ .down-trip {
  left: 182px !important;
  background-color: #00C2FF !important;
}
.container .navigation .music-y.active ~ .down-trip {
  left: 182px;
  background-color: #00C2FF;
}
.container .navigation .profile-y:hover ~ .down-trip {
  left: 236px !important;
  background-color: #95e000 !important;
}
.container .navigation .profile-y.active ~ .down-trip {
  left: 236px;
  background-color: #95e000;
}
.container .navigation .todo-y:hover ~ .down-trip {
  left: 290px !important;
  background-color: #E00086 !important;
}
.container .navigation .todo-y.active ~ .down-trip {
  left: 290px;
  background-color: #E00086;
}
.container .navigation .down-trip {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 20px;
  border-radius: 14px;
  background-color: #00e09c;
  z-index: 0;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 935px) {
  .section-logo {
    display: none !important;
  }
  .section-logo .logotype_title {
    display: none;
  }

  .container {
    justify-content: center;
  }
}
@keyframes topDown6 {
  0% {
    top: 24px;
  }
  90% {
    top: 24px;
  }
  95% {
    top: 32px;
  }
  100% {
    top: 24px;
  }
}
@keyframes topDown3 {
  0% {
    top: 20px;
  }
  90% {
    top: 20px;
  }
  95% {
    top: 30px;
  }
  100% {
    top: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
