

.container
  width: 100%
  height: 15vh
  min-height: 120px
  max-height: 120px
  display: flex
  justify-content: space-between
  align-items: center

  .section-logo
    position: relative
    width: 240px
    height: 60px
    display: flex
    justify-content: space-between
    align-items: center

    &:before
      content: ""
      position: absolute
      width: 10px
      height: 10px
      left: 28px
      opacity: 1
      top: 34px
      background-color: #151618
      z-index: 1
      border-radius: 50%
      transition: all 0.3s ease-in-out
      animation: topDown6 6s ease-in-out infinite

    &:hover:after
      top: 36px
      transition: all 0.3s ease-in-out
      animation: none

    .logotype_img
      width: 100%
      position: relative

    .logotype_title
      color: #EEEEEE
      text-decoration: none
      font-size: 36px

  .navigation
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
    width: 350px
    height: 60px
    padding: 10px 20px
    box-sizing: border-box
    border-radius: 14px
    background-color: #1C1E21

    .nav-item
      display: flex
      justify-content: center
      align-items: center
      border-radius: 14px
      color: #EEEEEE
      min-width: 40px
      min-height: 40px
      padding-right: 14px
      font-weight: 700
      text-decoration: none
      z-index: 2
      cursor: pointer
      transition: all .1s ease-in-out

      &:hover
        color: #BBBBBB

      &:hover ~ .down-trip
        left: 50px

        .nav-item_img
          width: 24px
          height: 24px

    .active
      position: relative
      color: #00FFB2
      transition: all 1s ease-in-out

      &:hover
        color: #00FFB2

    .home-y,
    .chat-y,
    .lenta-y,
    .music-y,
    .profile-y,
    .todo-y
      display: flex
      align-items: center
      transition: all 1s ease-in-out

    .new
      position: absolute
      top: -30px
      color: #FFFFFF
      font-size: 12px
      padding: 4px 8px
      left: 83px
      background-color: #FF3D00
      border-radius: 12px

    .new-music
      position: absolute
      top: -30px
      color: #FFFFFF
      font-size: 12px
      padding: 4px 8px
      left: 238px
      background-color: #00C2FF
      border-radius: 12px

    .home-y.active
      position: relative
      color: #00FFB2

    .lenta-y.active
      position: relative
      color: #FF3D00

    .chat-y.active
      position: relative
      color: #e00086

    .music-y.active
      position: relative
      color: #00C2FF

    .profile-y.active
      position: relative
      color: #95e000

    .todo-y.active
      position: relative
      color: #E00086

      //&::before
      //  position: absolute
      //  content: ''
      //  margin-left: -10%
      //  width: 120%
      //  height: 2px
      //  background-color: #00FFB2
      //  top: 24px

    .home-y:hover ~ .down-trip
      left: 20px !important
      background-color: #00e09c !important

    .home-y.active ~ .down-trip
      left: 20px
      background-color: #00e09c

    .lenta-y:hover ~ .down-trip
      left: 74px !important
      background-color: #FF3D00 !important

    .lenta-y.active  ~ .down-trip
      left: 74px
      background-color: #FF3D00

    .chat-y:hover ~ .down-trip
      left: 128px !important
      background-color: #e00086 !important

    .chat-y.active  ~ .down-trip
      left: 128px
      background-color: #e00086

    .music-y:hover ~ .down-trip
      left: 182px !important
      background-color: #00C2FF !important

    .music-y.active  ~ .down-trip
      left: 182px
      background-color: #00C2FF

    .profile-y:hover ~ .down-trip
      left: 236px !important
      background-color: #95e000 !important

    .profile-y.active ~ .down-trip
      left: 236px
      background-color: #95e000

    .todo-y:hover ~ .down-trip
      left: 290px !important
      background-color: #E00086 !important

    .todo-y.active ~ .down-trip
      left: 290px
      background-color: #E00086

    .down-trip
      position: absolute
      width: 40px
      height: 40px
      left: 20px
      border-radius: 14px
      background-color: #00e09c
      z-index: 0
      transition: all 0.2s ease-in-out

    .todo-y
      padding-right: 0

@media screen and (max-width: 935px)
  .section-logo
    display: none !important

    .logotype_title
      display: none

  .container
    justify-content: center


@media screen and (max-width: 720px)

  .down-trip
    left: 10px !important

  .navigation
    width: 290px !important
    padding: 10px !important

    .nav-item
      padding-right: 6px !important

  .home-y:hover ~ .down-trip
    left: 0 !important
    margin-left: -10px !important
    background-color: #00e09c !important

  .home-y.active ~ .down-trip
    left: 10px !important
    background-color: #00e09c !important

  .lenta-y:hover ~ .down-trip
    left: 56px !important
    margin-left: -18px !important
    background-color: #FF3D00 !important

  .lenta-y.active  ~ .down-trip
    left: 56px !important
    background-color: #FF3D00 !important

  .chat-y:hover ~ .down-trip
    left: 102px !important
    margin-left: -26px !important
    background-color: #e00086 !important

  .chat-y.active  ~ .down-trip
    left: 102px !important
    background-color: #e00086 !important

  .music-y:hover ~ .down-trip
    left: 148px !important
    margin-left: -34px !important
    background-color: #00C2FF !important

  .music-y.active  ~ .down-trip
    left: 148px !important
    background-color: #00C2FF !important

  .profile-y:hover ~ .down-trip
    left: 194px !important
    margin-left: -42px !important
    background-color: #95e000 !important

  .profile-y.active ~ .down-trip
    left: 194px !important
    background-color: #95e000 !important

  .todo-y:hover ~ .down-trip
    left: 240px !important
    margin-left: -50px !important
    background-color: #E00086 !important

  .todo-y.active ~ .down-trip
    left: 240px !important
    background-color: #E00086 !important




@keyframes topDown6
  0%
    top: 24px

  90%
    top: 24px

  95%
    top: 32px

  100%
    top: 24px

@keyframes topDown3
  0%
    top: 20px

  90%
    top: 20px

  95%
    top: 30px

  100%
    top: 20px