
.message-container-m
  max-width: 100%
  display: flex
  margin-top: 20px

  .message-first
    position: relative
    display: flex
    align-items: center
    flex-direction: column

    .message-avatar
      width: 42px
      height: 42px
      object-fit: cover
      border-radius: 99px
      transition: all 0.1s ease-in-out

      &:hover
        filter: contrast(75%)

  .message-second
    margin: 0 20px

    .message-text-container
      display: flex
      flex-direction: column
      max-width: 600px

      .message-img
        width: 100%
        max-width: 500px
        max-height: 300px
        object-fit: cover
        cursor: pointer

        @media screen and (max-width: 768px)
          width: 50% !important

      .message-text
        background-color: #1C1E21
        padding: 14px
        border-radius: 0 14px 14px 14px
        color: #FFFFFF

        @media screen and (max-width: 768px)
          padding: 12px !important
          font-size: 12px !important


    .message-second-info
      display: flex
      align-items: center
      margin-bottom: 10px

      .message-second-name
        font-size: 18px
        color: #FFFFFF
        margin-right: 10px

        @media screen and (max-width: 768px)
          font-size: 14px !important

      .message-second-date
        color: #6C6C6C
        font-size: 12px

        @media screen and (max-width: 768px)
          font-size: 10px !important


  .mey
    display: flex
    flex-direction: row-reverse

    .message-second


    .message-second-name
      font-size: 18px
      color: #FFFFFF
      margin-right: 0 !important
      margin-left: 10px

      @media screen and (max-width: 768px)
        font-size: 14px !important

  .youy
    display: flex
    flex-direction: row

.me
  justify-content: flex-start
  flex-direction: row-reverse

  .second-delete
    position: relative
    width: 32px
    height: 32px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 14px
    background-color: #24272C
    border: none
    top: 36%
    cursor: pointer
    transition: all 0.1s ease-in-out

    &:hover
      background-color: #101113

    .second-delete-img
      width: 18px
      height: 18px

  .message-second
    display: flex
    flex-direction: column
    align-items: flex-end

  .message-text
    border-radius: 14px 0 14px 14px
    background: linear-gradient(95.66deg, #802276 3.37%, #861954 100%)

  .message-notlook
    height: 100%
    display: flex
    align-items: center
    z-index: 2

  .message-text-container
    display: flex
    justify-content: flex-start
    flex-direction: column
    border-radius: 14px 0 14px 14px

  .message-img
    width: 100%
    max-width: 500px
    max-height: 300px
    cursor: pointer
    border-radius: 14px 0 14px 14px

    @media screen and (max-width: 768px)
      width: 50% !important

  .message-text
    border-radius: 14px 0 14px 14px

  .avatar-time
    margin-left: 10px

  .message-block
    border-radius: 14px 0 14px 14px

  .message-media
    border-radius: 10px 0 10px 10px

  .second-data
    top: 47%
    left: 60px
    position: absolute


.you

  .second-delete
    display: none


  .message-notlook
    display: none

  .message-text-container
    display: flex
    justify-content: flex-start
    flex-direction: column
    border-radius: 0 14px 14px 14px

  .second-data
    top: 47%
    right: 60px
    position: absolute

  .message-second
    display: flex
    flex-direction: column
    align-items: flex-start

  .message-img
    width: 100%
    max-width: 500px
    max-height: 300px
    cursor: pointer
    border-radius: 0 14px 14px 14px

    @media screen and (max-width: 768px)
      width: 50% !important

  .message-text
    border-radius: 0 14px 14px 14px

  .avatar-time
    margin-right: 10px

  .message-block
    border-radius: 0 14px 14px 14px

  .message-media
    border-radius: 0 10px 10px 10px