.message-container-m {
  max-width: 100%;
  display: flex;
  margin-top: 20px;
}
.message-container-m .message-first {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.message-container-m .message-first .message-avatar {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 99px;
  transition: all 0.1s ease-in-out;
}
.message-container-m .message-first .message-avatar:hover {
  filter: contrast(75%);
}
.message-container-m .message-second {
  margin: 0 20px;
}
.message-container-m .message-second .message-text-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
.message-container-m .message-second .message-text-container .message-img {
  width: 100%;
  max-width: 500px;
  max-height: 300px;
  object-fit: cover;
  cursor: pointer;
}
.message-container-m .message-second .message-text-container .message-text {
  background-color: #1C1E21;
  padding: 19px;
  border-radius: 0 14px 14px 14px;
  color: #FFFFFF;
}
.message-container-m .message-second .message-second-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.message-container-m .message-second .message-second-info .message-second-name {
  font-size: 18px;
  color: #FFFFFF;
  margin-right: 10px;
}
.message-container-m .message-second .message-second-info .message-second-date {
  color: #6C6C6C;
  font-size: 12px;
}
.message-container-m .mey {
  display: flex;
  flex-direction: row-reverse;
}
.message-container-m .mey .message-second-name {
  font-size: 18px;
  color: #FFFFFF;
  margin-right: 0 !important;
  margin-left: 10px;
}
.message-container-m .youy {
  display: flex;
  flex-direction: row;
}

.me {
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.me .message-second {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.me .message-text {
  border-radius: 14px 0 14px 14px;
  background: linear-gradient(95.66deg, #802276 3.37%, #861954 100%);
}
.me .message-notlook {
  height: 100%;
  display: flex;
  align-items: center;
}
.me .message-text-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 14px 0 14px 14px;
}
.me .message-img {
  width: 100%;
  max-width: 500px;
  max-height: 300px;
  cursor: pointer;
  border-radius: 14px 0 14px 14px;
}
.me .message-text {
  border-radius: 14px 0 14px 14px;
}
.me .avatar-time {
  margin-left: 10px;
}
.me .message-block {
  border-radius: 14px 0 14px 14px;
}
.me .message-media {
  border-radius: 10px 0 10px 10px;
}
.me .second-data {
  top: 47%;
  left: 60px;
  position: absolute;
}

.you .message-notlook {
  display: none;
}
.you .message-text-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 0 14px 14px 14px;
}
.you .second-data {
  top: 47%;
  right: 60px;
  position: absolute;
}
.you .message-second {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.you .message-img {
  width: 100%;
  max-width: 500px;
  max-height: 300px;
  cursor: pointer;
  border-radius: 0 14px 14px 14px;
}
.you .message-text {
  border-radius: 0 14px 14px 14px;
}
.you .avatar-time {
  margin-right: 10px;
}
.you .message-block {
  border-radius: 0 14px 14px 14px;
}
.you .message-media {
  border-radius: 0 10px 10px 10px;
}

/*# sourceMappingURL=style.css.map */
