

.message-section
  max-width: 100%
  display: flex
  margin-top: 16px

  .avatar-time
    min-width: 54px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start

    .message-avatar
      width: 40px
      height: 40px
      object-fit: cover
      border-radius: 500%
      margin-bottom: 10px

    .message-time
      color: #FFFFFF
      font-size: 8px

  .trash
    width: 24px
    height: 24px
    padding: 10px
    margin-right: 10px
    border-radius: 14px
    cursor: pointer

    &:hover
      background-color: #151618

.message-block
  padding: 14px 14px
  justify-content: flex-start
  align-self: flex-start
  border-radius: 0 14px 14px 14px
  background-color: #151618
  display: flex
  flex-direction: column

  .message-media
    position: relative
    min-width: 430px
    max-width: 430px
    margin-bottom: 10px
    cursor: pointer

  .message-text
    color: #CFCFCF
    word-break: keep-all
    line-height: 1.3
    max-width: 430px
    font-size: 16px

.me
  justify-content: flex-start
  flex-direction: row-reverse

  .avatar-time
    margin-left: 10px

  .message-block
    border-radius: 14px 0 14px 14px

  .message-media
    border-radius: 10px 0 10px 10px


.you
  .avatar-time
    margin-right: 10px

  .message-block
    border-radius: 0 14px 14px 14px

  .message-media
    border-radius: 0 10px 10px 10px

@media screen and (max-width: 1280px)
  .message-media
    min-width: 230px !important
    max-width: 230px !important