

.toolBar-edit
  position: absolute
  display: flex
  justify-content: center
  width: 100%
  top: 95px


  #file_bg
    display: none

  .toolBar-btn
    display: flex
    justify-content: center
    align-items: center
    width: 50px
    height: 50px
    background-color: #282A2D
    border-radius: 999px
    border: none
    outline: none
    cursor: pointer
    transition: all 0.1s ease-in-out

    &:hover
      background-color: #1E2022

    &:active
      background-color: #2b2e30

    .toolBar-btn_label
      cursor: pointer

      .toolBar-btn_img
        width: 32px
        height: 32px


.info-newBlock-edit
  margin: 110px 30px 30px 30px

  .info-name
    position: relative

    .info-name_title
      position: absolute
      color: #FFFFFF
      font-size: 20px
      margin-left: 16px
      padding: 0 10px
      background-color: #1C1E21

    .info-name_input
      font-size: 14px
      margin-top: 10px
      color: #FFFFFF
      outline: none
      width: 100%
      height: 60px
      padding: 17px 25px
      box-sizing: border-box
      border-radius: 14px
      border: 2px solid #437ED8
      background-color: #1C1E21

  .info-desc
    position: relative
    margin-top: 15px

    .info-desc_title
      position: absolute
      color: #FFFFFF
      font-size: 20px
      margin-left: 16px
      margin-top: 5px
      padding: 0 10px
      background-color: #1C1E21

    .info-desc_input
      font-size: 14px
      color: #FFFFFF
      margin-top: 16px
      outline: none
      width: 100%
      height: 60px
      padding: 25px 22px
      box-sizing: border-box
      border-radius: 14px
      border: 2px solid #437ED8
      background-color: #1C1E21


  .info-link
    position: relative
    margin-top: 15px

    .info-link_title
      position: absolute
      color: #FFFFFF
      font-size: 20px
      margin-left: 16px
      margin-top: 5px
      padding: 0 10px
      background-color: #1C1E21

    .info-link_input
      font-size: 14px
      color: #FFFFFF
      margin-top: 16px
      outline: none
      width: 100%
      height: 60px
      padding: 25px 22px
      box-sizing: border-box
      border-radius: 14px
      border: 2px solid #437ED8
      background-color: #1C1E21



.save
  position: absolute
  left: 30px
  right: 30px
  bottom: 30px
  display: flex
  justify-content: space-between


  .save-left


    .cancel-btn
      color: #437ED8
      width: 260px
      height: 60px
      border-radius: 14px
      font-size: 20px
      outline: none
      background-color: rgba(0, 0, 0, 0)
      border: 2px solid #437ED8
      cursor: pointer
      transition: all 0.1s ease

      &:hover
        background-color: #24272C


  .save-right


    .save-btn
      color: #FFFFFF
      width: 260px
      height: 60px
      font-size: 20px
      outline: none
      border-radius: 14px
      background-color: #437ED8
      cursor: pointer
      transition: all 0.1s ease

      &:hover
        background-color: #376bb8

@media screen and (max-width: 720px)

  .info-newBlock-edit
    margin: 120px 20px 30px 20px !important

  .toolBar-edit
    top: 95px !important

    .toolBar-btn
      margin-right: 0px !important


  .info-name
    
    .info-name_title
      font-size: 18px
      
    .info-name_input
      padding: 15px !important

  .info-desc

    .info-desc_title
      font-size: 18px

    .info-desc_input
      padding: 15px !important

  .save
    left: 20px !important
    right: 20px !important

    .save-left

      .cancel-btn
        width: 170px !important
        padding: 10px !important
        height: 50px !important
        font-size: 16px !important

    .save-right

      .save-btn
        width: 170px !important
        padding: 10px !important
        height: 50px !important
        font-size: 16px !important

      


@media screen and (max-width: 500px)

  .info-newBlock-edit
    margin: 90px 20px 30px 20px !important

  .toolBar-edit
    top: 70px !important

    .toolBar-btn
      margin-right: 0px !important


  .info-name

    .info-name_title
      font-size: 18px

    .info-name_input
      padding: 15px !important

  .info-desc

    .info-desc_title
      font-size: 18px

    .info-desc_input
      padding: 15px !important

  .save
    left: 20px !important
    right: 20px !important

    .save-left

      .cancel-btn
        width: 120px !important
        padding: 10px !important
        height: 50px !important
        font-size: 16px !important

    .save-right

      .save-btn
        width: 120px !important
        padding: 10px !important
        height: 50px !important
        font-size: 16px !important
