

.main-sublist
  display: flex
  width: 100%
  height: 160px
  margin-top: 40px

  .main-vote
    width: 620px
    box-shadow: 0px 0px 4px 0px #FFFFFF40
    border-radius: 32px
    padding: 30px
    display: flex
    flex-direction: column
    justify-content: space-between
    box-sizing: border-box

    .vote-title
      font-size: 24px
      color: #FFFFFF

    .vote-list
      display: flex
      justify-content: space-between
      width: 100%

      .vote-item_btn
        font-weight: 600
        width: 170px
        background-color: #263245
        padding: 16px 12px
        box-sizing: border-box
        border: none
        color: #FFFFFF
        border-radius: 999px
        outline: none
        transition: all 0.1s ease-in-out
        cursor: pointer

      .first
        background-color: #263245

        &:hover
          background-color: #1c2433

      .second
        background-color: #302645

        &:hover
          background-color: #1f192e

      .third
        background-color: #452637

        &:hover
          background-color: #301a25