
.post
  width: 600px
  display: flex
  margin-top: 40px
  background-color: #24272C
  border-radius: 14px
  overflow-x: hidden
  justify-content: space-between
  flex-direction: column

  .header-desh
    display: block
    margin: 6px 0
    width: 100%
    height: 2px
    background-color: #FF3D00

  .post-header
    padding: 15px 20px 0 20px
    display: flex
    height: 40px
    justify-content: space-between
    align-items: center
    margin-bottom: 15px

    .header-tools
      display: flex
      align-items: center
      height: 60px

      .header-trash
        width: 24px
        height: 24px
        cursor: pointer
        transition: all 0.1s ease-in-out

        &:hover
          padding: 10px
          border-radius: 14px
          margin-left: -10px
          margin-right: -10px
          background-color: #151618

      .header-edit
        width: 24px
        height: 24px
        margin-right: 20px
        cursor: pointer
        transition: all 0.1s ease-in-out

        &:hover
          padding: 10px
          border-radius: 14px
          margin-right: 10px
          background-color: #151618



    .header-user
      display: flex
      align-items: center

      .clo
        width: 35px
        height: 35px
        border-radius: 50%

      .header-img
        width: 35px
        border-radius: 50%

      .header-title
        display: flex
        align-items: center
        margin-left: 10px
        color: #FFFFFF

      .header_admin
        position: relative
        margin-left: 10px
        width: 24px
        top: -2px

  .post-input
    background-color: rgba(0, 0, 0, 0)
    outline: none
    border: 0
    margin-bottom: 1px
    margin: 20px
    border-bottom: 1px solid #FF3D00

  .post-input-title
    font-size: 24px
    color: #FFFFFF
    font-weight: 700
    margin-bottom: 14px

  .post-input-desc
    margin: 14px 0
    margin: 20px
    font-size: 16px
    word-break: break-word
    color: #c7c7c7

  #field__file-2
    position: absolute
    display: none

  .field__file
    display: flex
    flex-direction: column
    align-items: center

    .post-upload

      background-color: #151618
      border-radius: 14px
      width: 52px
      height: 52px
      margin: 10px 0 20px 0
      cursor: pointer
      transition: all 0.1s ease-in-out

      &:hover
        background-color: #FF3D00

    .post-name
      color: #FFFFFF


  .post-img
    width: 100%
    max-height: 600px
    border-radius: 8px
    margin-bottom: 14px
    cursor: pointer

  .post-title
    color: #FFFFFF
    word-break: break-word
    margin-bottom: 14px
    padding: 0 20px 0 20px

  .post-desc
    margin: 14px 0
    word-break: break-word
    color: #c7c7c7
    padding: 0 20px 0 20px

  .post-tools
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 20px 10px 10px

    .post-like
      display: flex
      position: relative
      width: 60px
      height: 60px
      align-items: center

      .post-like-img
        cursor: pointer
        width: 60px
        height: 60px
        position: absolute
        left: 0
        top: 0
        transform: translate(0, 0)
        background: url(../../img/heart.png) no-repeat
        background-position: 0 0

        &.animation
          background-position: -1686px 0
          transition: background 1s steps(28)

        &.active
          background-position: -1686px 0

    .post-like-counter
      color: #FFFFFF
      margin-top: 2px
      margin-left: 50px

    .post-date
      font-size: 12px
      color: #FFFFFF

