
.post
  width: 100%
  display: flex
  margin-top: 40px
  border-radius: 14px
  overflow-x: hidden
  justify-content: space-between
  flex-direction: row

  @media screen and (max-width: 450px)
    margin-top: 20px

  .post-left
    min-width: 50px
    min-height: 50px
    max-width: 50px
    max-height: 50px

    @media screen and (max-width: 450px)
      min-width: 40px
      min-height: 40px
      max-width: 40px
      max-height: 40px

    .header-a
      width: 100%
      height: 100%

      .header-img
        width: 100%
        height: 100%
        border-radius: 99px
        object-fit: cover

  .post-middle
    display: flex
    flex-direction: column
    width: 100%
    margin: 0px 0 0 20px

    .post-header
      display: flex
      margin-top: 6px
      align-items: center

      &-title
        font-size: 16px
        color: #FFFFFF

        @media screen and (max-width: 450px)
          font-size: 12px

      &-date
        color: #BDBDBD
        font-size: 10px
        margin-left: 10px

        @media screen and (max-width: 450px)
          margin-left: 6px

      &-premium
        font-size: 10px
        color: transparent
        font-weight: 700
        margin-left: 6px
        background-image: linear-gradient(93.17deg, #FF0A0A 1.08%, #FF5F05 48.91%, #FF0099 98.77%)
        -webkit-background-clip: text
        background-clip: text

    .post-title
      margin-top: 6px
      color: #BDBDBD
      font-weight: 500
      word-break: break-word
      font-size: 16px
      margin-bottom: 14px

      @media screen and (max-width: 450px)
        font-size: 12px

    .post-tools
      display: flex
      align-items: center
      justify-content: space-between

      .post-tools-like
        display: flex
        position: relative
        width: 60px
        height: 60px
        align-items: center

        .post-like-img
          cursor: pointer
          width: 60px
          height: 60px
          position: absolute
          left: 0
          top: 0
          transform: translate(0, 0)
          background: url(../../img/heart.png) no-repeat
          background-position: 0 0

          &.animation
            background-position: -1686px 0
            transition: background 1s steps(28)

          &.active
            background-position: -1686px 0

      .post-like-counter
        color: #FFFFFF
        margin-top: 2px
        margin-left: 50px

      .post-date
        font-size: 12px
        color: #FFFFFF


  .post-right
    display: flex
    align-items: center
    justify-content: center
    min-width: 50px
    height: 50px

    @media screen and (max-width: 450px)
      width: 40px
      height: 40px

    .post-right-dots
      display: flex
      align-items: center
      justify-content: center
      width: 34px
      height: 34px
      border-radius: 14px
      cursor: pointer
      transition: all 0.1s ease-in-out

      @media screen and (max-width: 450px)
        width: 28px
        height: 28px

      &:hover
        background-color: #1C1E21

      .post-right-dots_img
        width: 100%
        height: 100%


  .header-desh
    display: block
    margin: 6px 0
    width: 100%
    height: 2px
    background-color: #FF3D00

  .post-input
    background-color: rgba(0, 0, 0, 0)
    outline: none
    border: 0
    margin-bottom: 1px
    margin: 20px
    border-bottom: 1px solid #FF3D00

  .post-input-title
    font-size: 24px
    color: #FFFFFF
    font-weight: 700
    margin-bottom: 14px

  .post-input-desc
    margin: 14px 0
    margin: 20px
    font-size: 16px
    word-break: break-word
    color: #c7c7c7

  #field__file-2
    position: absolute
    display: none

  .field__file
    display: flex
    flex-direction: column
    align-items: center

    .post-upload

      background-color: #151618
      border-radius: 14px
      width: 52px
      height: 52px
      margin: 10px 0 20px 0
      cursor: pointer
      transition: all 0.1s ease-in-out

      &:hover
        background-color: #FF3D00

    .post-name
      color: #FFFFFF


  .post-img
    width: 100%
    max-height: 600px
    border-radius: 8px
    margin-bottom: 14px
    cursor: pointer

  .post-video
    width: 100%
    max-height: 600px
    border-radius: 8px
    cursor: pointer

  .post-desc
    margin: 14px 0
    word-break: break-word
    color: #c7c7c7
    padding: 0 20px 0 20px